.TestGame{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-weight: 1000;
}

.TestGame h1{
    margin: 0;
}