.Recaps *{
    font-family: 'Cyrge';
}

.Recaps{
    width: calc(100% - 20px);
    max-width: 1300px;
    min-height: calc(100vh - 20px);
    height: max-content;
    background-color: var(--bg);
    overflow: hidden;
    padding: 10px 10px 0 10px;
    margin: 0 auto;
    inset: 0;
}

.Recaps header{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    background-color: #111111;
    border-radius: 10px;
    padding: 5px 20px;
    z-index: 99;
    gap: 10px;
}

header .language{
    border-radius: 10px;
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: background-color .3s ease, scale .2s ease;
    cursor: pointer;
    z-index: 12;
}

header .language::after{
    content: "▼";
    color: #fff;
    transform: scaleY(0.7);
    font-size: 15px;
}

header .language:hover{
    background-color: #191919;
    scale: 1.07;
}

header .language .languages{
    background-color: #191919;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 70px;
    margin-top: 120px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    z-index: 11;
}

header .language .languages button{
    border: none;
    height: 40px;
    color: #fff;
    font-family: 'Cygre';
    cursor: pointer;
    font-weight: 700;
    background-color: transparent;
}

header .language .languages button:hover{
    background-color: #ffffff14;
}

svg{
    width: 36px;
    aspect-ratio: 1/1;
}
.globe{
    fill:none;stroke:#FFFFFF;stroke-width:56.6667;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:133.3333;
}

.thePitMan{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: flex-end;
}

.Recaps img{
    width: 150px;
}

.Recaps header input{
    max-width: 300px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: var(--main);
    background-color: var(--settingsbghover);
}

.Recaps header input[type='text'] {
    color: var(--main);
    background-image: url(./search.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-y: center;
    background-position-x: calc(100% - 7px);
    padding: 0 10px;
}

.Recaps video{
    display: block;
    width: 100%;
    inset: 0;
    padding-top: 50px;
    margin: auto;
    max-width: 200px;
}

.Recaps h2{
    width: 100%;
    text-align: center;
    color: var(--main);
}

.RecapsContent{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    letter-spacing: -1px;
}

.RecapsContent .modes{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.RecapsContent .modes button{
    display: flex;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    outline: 2px #fff solid;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: scale .1s ease;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: clamp(.8rem, 4vw, 1.2rem);
    letter-spacing: -1.5px;
}

.RecapsContent .modes button:active{
    scale: .97;
}

.RecapsContent .modes .ChosenMode{
    background-color: #fff;
    color: #000;
    outline: none;
}


.RecapsContent .contents{
    margin-top: 10px
}

@keyframes showRecaps {
    0%{
        opacity: 0;
    }
}

/* block mode */
.RecapsContent .BlockMode{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    grid-gap: 10px;
    color: #fff;
    .RecapElement{
        background-color: rgb(18, 18, 18);
        border-radius: 10px;
        overflow: hidden;
        display: block;
        aspect-ratio: 4/2;
        color: #fff;
        text-decoration: none;
        transition: scale .2s ease;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation: showRecaps .5s ease;
    }

    .RecapElement .Info{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        border-radius: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        padding: 10px;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.28335084033613445) 49%, rgba(0,0,0,0.8379726890756303) 100%);
    }

    .RecapElement .Info h1{
        margin: 0;
        width: 100%;
        border-bottom: 2px #fff solid;
    }

    .RecapElement .Info p{
        width: 100%;
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
    }

    .RecapElement:hover{
        scale: 1.01;
        outline: 3px #fff solid;
    }

    .BG2improvise{
        background-image: url(../Enterer/2imp.png);
    }
}

.LoadingRecaps{
    margin-top: 60px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
}

.InfoView{
    .Recap{
        background-color: #111111;
        border-radius: 10px;
        padding: 20px;
        margin-top: 10px;
        color: #fff;
        display: flex;
        flex-direction: column;
        font-size: clamp(.9rem, 4vw, 1.4rem);
        animation: showRecaps .5s ease;
    }

    .Recap h1, .Recap p{
        margin: 0;
    }

    .Gallery{
        margin: 20px 0;
    }

    .Gallery img{
        width: 100%;
        border-radius: 10px;
    }

    .bottomInfo{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 910px) and (-webkit-min-device-pixel-ratio: 1){
    .RecapsContent .BlockMode{
        grid-template-columns: auto auto;
        font-size: clamp(.6rem, 2vw, 1.4rem);
    }
}

@media screen and (max-width: 560px) and (-webkit-min-device-pixel-ratio: 1){
    .RecapsContent .BlockMode{
        grid-template-columns: auto;
        font-size: clamp(.6rem, 5vw, 1.4rem);
    }
}

.ScrollMode{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    gap: 3px;
    border-radius: 10px;
    animation: showRecaps .5s ease;
    .RecapElement{
        background-color: #111111;
        width: calc(100% - 40px);
        padding: 20px;
        color: #fff;
        text-decoration: none;
        max-width: 1000px;
        text-align: left;
    }

    .RecapElement .Info h1, .RecapElement .Info h3, .RecapElement .Info p{
        margin: 0;
    }

    .RecapElement:hover h1{
        text-decoration: underline;
    }

    .RecapElement .Info{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .RecapElement .Info img{
        width: 100%;
        border-radius: 10px;
    }

    .RecapElement .Info p{
        opacity: 0.2;
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
    }

    .RecapElement:nth-child(1){
        border-radius: 10px 10px 0 0;
    }

    .RecapElement:nth-last-child(1){
        border-radius: 0 0 10px 10px;
    }
}