.Nerdieverse{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 1000;
    image-rendering: pixelated;
    font-family: Pixeloid;
}

.Nerdieverse *{
    font-family: Pixeloid;
}

.Nerdieverse .name{
    position: fixed;
    bottom: 0;
}

.Nerdieverse .Lobby{
    gap: 10px;
}

.Nerdieverse .Lobby .Logo{
    max-width: 400px;
    width: 100%;
}

.Nerdieverse .Lobby .characterSelect{
    max-height: 450px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: #00000014;
    font-size: clamp(1rem, 5vw, 1.4rem);
}

.Nerdieverse .MainWrapper button{
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: clamp(1rem, 5vw, 2rem);
    width: 100%;
    height: 60px;
    border: none;
}

.Nerdieverse .MainWrapper button:active{
    filter: invert();
}

.MainWrapper{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin: 0;
    inset: 0;
    box-sizing: border-box;
    padding: 20px;
    outline: 5px red solid;
    align-items: center;
}