@font-face {
    font-family: 'SignPainter';
    src: url(signpainter_housescript.otf);
}

@font-face {
    font-family: 'GeometricSlabSerif';
    src: url(GeometricSlabserif712-Medium.ttf);
}

@font-face {
    font-family: 'GeometricSlabSerif';
    src: url(GeometricSlabserif712-ExtBd.ttf);
    font-weight: 1000;
}

.Imp2{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-image: url(scenes/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* scenes */
.Imp2 .Lobby .regular{
    background-image: url(scenes/main.jpg);
}

.Imp2 .Lobby .gravy{
    background-image: url(scenes/gravy.jpg);
}

.Imp2 .Lobby .soulsFate{
    background-image: url(scenes/imaginary.jpg);
}

.Imp2 .Lobby .soulsFate2{
    background-image: url(scenes/imaginary.jpg);
}




.Imp2 .name{
    position: absolute;
    bottom: 0;
    inset: 0;
    margin: 0 auto;
    width: max-content;
    padding: 10px 20px;
    height: max-content;
    font-weight: 1000;
    box-shadow: 0 0 15px #00000028;
    border-radius: 0 0 15px 15px;
    text-align: center;
    font-size: 26px;
    background-color: #fdb405;
    color: #221c0c;
    font-family: 'SignPainter';
}

.Imp2 .nav{
    font-family: 'SignPainter';
    width: calc(100% - 40px);
    max-width: 700px;
    height: calc(100vh - 40px);
    inset: 0;
    margin: 0 auto;
    padding: 20px;
    background-color: #00000038;
    color: #fdb405;
    text-align: center;
}

.Imp2 .nav .logo{
    padding-top: 30px;
}

.Imp2 .Waiting{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Imp2 .Lobby{
    color: #fdb405;
    text-align: center;
}

.Imp2 .Lobby h2{
    font-size: clamp(1.3rem, 6vw, 3rem);
    margin: 10px 0;
}

.Imp2 .Lobby .groups{
    margin-top: 10px;
    position: static;
    grid-gap: 10px;
    display: grid;
    border-radius: 10px;
    width: 100%;
    grid-template-columns: auto auto;
}

@keyframes choseGroupAnim {
    0%{
        outline-offset: 10px;
        outline: 3px solid #ffffff00;
    }
    100%{
        outline-offset: 3px;
        outline: 3px solid #fff;
    }
}

@keyframes showChosenLabel {
    0%{
        opacity: 0;
        scale: 1.5;
    }
    100%{
        opacity: 1;
    }
}

.Imp2 .Lobby .groups .chosen{
    outline-offset: 3px;
    outline: 3px solid #fff;
    animation: choseGroupAnim .35s ease;
    filter: brightness(1);
}

.Imp2 .Lobby .groups .chosen p{
    animation: showChosenLabel .35s ease;
    font-family: 'GeometricSlabSerif';
    font-size: clamp(1rem, 6vw, 3rem);
    line-height: 0;
    font-weight: 1000;
    width: 100%;
    text-align: center;
    display: block;
    color: #fff;
    margin: 0;
    position: absolute;
    user-select: none;
}

.Imp2 .Lobby .groups div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    aspect-ratio: 7 / 3;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.Imp2 .Lobby .groups div:hover{
    filter: brightness(0.8);
}

.Imp2 .Lobby .logo{
    display: block;
    max-width: 500px;
    inset: 0;
    padding-top: 50px;
    margin: 0 auto;
}

.Imp2 button{
    border-radius: 10px;
    background-color: #fdb405;
    color: #221c0c;
    font-family: 'SignPainter';
    font-weight: 1000;
    padding: 10px;
    border: 0;
    width: 100%;
    font-size: clamp(1rem, 8vw, 2.5rem);
    cursor: pointer;
    margin-top: 10px;
}

.Imp2 button:hover{
    outline: #fdb405 2px solid;
    outline-offset: 3px;
}

.Imp2 button:active{
    color: #fdb405;
    background-color: #221c0c;
}

.Imp2 .Waiting .logo{
    padding-top: 200px;
    z-index: 2;
}

.Imp2 .Waiting .AvatarOnStick{
    bottom: 0;
    position: absolute;
    padding-bottom: 200px;
    z-index: 1;
    filter: drop-shadow(0 0 20px #00000065);
    width: clamp(100px, 40vw, 200px);
}

.Imp2 .Improvising{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Imp2 .Improvising p{
    font-size: clamp(1rem, 10vw, 2rem);
    font-weight: 1000;
    margin: 10px 0 0 0;
}

.Imp2 .Improvising .theme{
    font-family: 'GeometricSlabSerif';
    margin-top: 40px;
    margin-bottom: 0;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #221c0c;
    font-weight: 100;
    font-size: clamp(1rem, 6vw, 1.9rem);
    color: #fff;
}

.Imp2 .Improvising .role{
    background-color: #fdb405;
    margin: 0;
    padding: 5px 10px;
    color: #221c0c;
    font-weight: 1000;
    border-radius: 0 0 5px 5px;
    font-size: clamp(1rem, 8vw, 1.9rem);
}

.Imp2 .Improvising .role b{
    color: #221c0c;
    font-weight: 100;
}

.Imp2 .Improvising .theme b{
    font-weight: 1000;
    color: #fdb405;
}

.Imp2 .Improvising .AvatarOnStick{
    bottom: -50px;
    position: fixed;
    aspect-ratio: 240 / 600;
    object-fit: contain;
    max-height: calc(100vh - 170px);
    filter: drop-shadow(0 0 20px #00000065);
    width: clamp(150px, 65vw, 240px);
}

.Imp2 .Rating{
    padding-top: 60px;
}

.Imp2 .Rating button{
    background-color: #000000;
    font-family: 'GeometricSlabSerif';
    font-size: 1.5rem;
    color: #fff;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1px;
}

.Imp2 .Rating button img{
    height: 30px;
    padding-left: 10px;
}

.Imp2 .Rating button span{
    font-family: 'SignPainter';
    margin-left: 10px;
}

.Imp2 .Rating button:active{
    background-color: #fdb405;
}

.Imp2 .Rating h2{
    font-size: clamp(1.3rem, 7vw, 2.2rem);
    margin: 15px 0;
}

.Imp2 .Rating div{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.Imp2 .Rating div p{
    font-family: 'GeometricSlabSerif';
    color: #fff;
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85px;
}

.Imp2 .Rating div p span{
    font-family: 'SignPainter';
    font-size: 2rem;
}

.Imp2 .Rating div input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    max-width: 590px;
    width: calc(100% - 60px);
    height: 40px;
    outline-offset: 2px;
    outline: 2px #fff solid;
    border-radius: 10px;
    background-color: #000000;
}

.Imp2 .Rating .chosenEmoji{
    outline: 3px #fdb405 solid;
    outline-offset: 5px;
}

.Imp2 .Rating div img{
    border-radius: 50%;
    width: clamp(30px, 20vw, 80px);
    cursor: pointer;
    transition: scale .2s ease;
}

.Imp2 .Rating div img:hover{
    scale: 1.05;
}

.Imp2 .Rating div input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    height: 40px;
    width: 20px;
    border-radius: 10px;
    background-color: #fff;
    cursor: grab;
}

.Imp2 .AreYouReady{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
}

.Imp2 .AreYouReady .AvatarOnStick{
    bottom: -50px;
    position: fixed;
    aspect-ratio: 240 / 600;
    object-fit: contain;
    max-height: calc(100vh - 170px);
    filter: drop-shadow(0 0 20px #00000065);
    width: clamp(150px, 65vw, 240px);
}

.Imp2 .VoteTitle{
    padding-top: 50px;
}

.Imp2 .VoteTitle button{
    background-color: #000000;
    color: #fff;
    font-family: 'GeometricSlabSerif';
    font-size: clamp(1.3rem, 7vw, 2rem);
}

.Imp2 .VoteTitle button:hover{
    background-color: #fff;
    color: #000;
    outline: none;
}

.Imp2 .VoteTitle button:active{
    outline: 2px #fff solid;
}

.Imp2 .VoteTitle h2{
    font-size: clamp(1.3rem, 10vw, 3.5rem);
    margin: 10px 0;
}

.Imp2 .Post{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}