@keyframes showBackground {
    0%{
        background-size: 120%;
    }
}

@keyframes showLogo {
    0%{
        scale: .7;
    }
}

@keyframes showLanguages {
    0%{
        transform: translateY(-100%);
    }
}

.AtticOutside{
    margin: 30px auto;
    max-width: 1400px;
    border-radius: 30px 30px;
    overflow: hidden;
    font-family: 'Cygre';
    letter-spacing: -1px;
    text-align: center;
    color: #fff;
    background-color: #ffffff0a;
    .mainInfo{
        background-image: url(thumb2.png);
        height: 500px;
        background-size: 100%;
        background-position: bottom -120px right;
        background-repeat: no-repeat;
        background-color: #000;
        border-radius: 30px 30px 0 0;
        display: flex;
        justify-content: center;
        animation: showBackground 2s cubic-bezier(0, 0.68, 0.25, 1);
    }
    .mainInfo::before{
        content: "";
        background: linear-gradient(221deg, rgba(255,255,255,0.9192051820728291) 0%, rgba(255,255,255,0.06766456582633051) 100%);
        width: 100%;
        max-width: 1400px;
        height: 500px;
        position: absolute;
        border-radius: 30px 30px 0 0;
        opacity: 0.1;
        pointer-events: none;
    }
    .logo{
        padding-top: 70px;
        width: clamp(250px, 75vw, 700px);
        animation: showLogo 2s cubic-bezier(0, 0.68, 0.25, 1);
    }
    header{
        background-color: #ffffff09;
        margin: auto 0;
        max-width: 1400px;
        height: 80px;
        width: 100%;
        border-radius: 30px 30px 0 0;
        z-index: 10;
        position: absolute;
        display: flex;
        color: #fff;
        font-weight: 1000;
        align-items: center;
        gap: 30px;
        justify-content: space-between;
        font-size: clamp(0.9rem, 5vw, 1.4rem);
    }
    header a{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        transition: scale .2s ease;
        text-align: center;
        padding-bottom: 4px;
    }
    header a:hover{
        scale: 1.07;
        text-decoration: underline;
    }
    header img{
        max-height: 60px;
        padding-left: 60px;
    }
    header .nav{
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: center;
        padding-right: 60px;
    }
    header .language{
        border-radius: 10px;
        width: 70px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transition: background-color .3s ease, scale .2s ease;
        cursor: pointer;
        z-index: 12;
    }

    header .language::after{
        content: "▼";
        transform: scaleY(0.7);
        font-size: 15px;
    }

    header .language:hover{
        background-color: #191919;
        scale: 1.07;
    }

    header .language .languages{
        background-color: #191919;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 70px;
        margin-top: 45px;
        border-radius: 0 0 10px 10px;
        overflow: hidden;
        z-index: 11;
        top: 0;
    }

    header .language .languages button{
        border: none;
        height: 40px;
        color: #fff;
        font-family: 'Cygre';
        cursor: pointer;
        font-weight: 700;
        background-color: transparent;
    }

    header .language .languages button:hover{
        background-color: #ffffff14;
    }

    svg{
        width: 36px;
        aspect-ratio: 1/1;
    }
    .globe{
        fill:none;stroke:#FFFFFF;stroke-width:56.6667;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:133.3333;
    }

    .newsGallery{
        --swiper-navigation-color: #fff;
        margin-top: 20px;
    }

    .swiper-button-next, .swiper-button-prev{
        margin: 0 20px;
    }

    .newsGallery .new-s{
        display: flex;
        height: 400px;
        width: 100%;
        max-width: 1000px;
        background-size: 110%;
        background-position: right bottom;
        margin: auto 0;
        background-color: #bababa;
        border-radius: 30px;
        flex-direction: column;
        text-align: left;
        padding: 40px;
        line-height: 65px;
        justify-content: center;
        user-select: none;
        font-size: clamp(1rem, 10vw, 2.4rem);
    }

    .newsGallery .new-s *{
        margin: 0;
    }

    .newsGallery .new-s p{
        padding-top: 20px;
        line-height: 40px;
    }

    .newsGallery .centered{
        background-size: cover;
        background-position: center !important;
    }


    .newsGallery .swiper-wrapper{
        display: flex;
        width: 100% !important;
        max-width: 1100px !important;
    }

    .newsGallery .swiper-pagination{
        display: flex;
        width: 100%;
        height: 15px;
        justify-content: center;
        gap: 8px;
        margin-top: 10px;
    }

    .newsGallery .swiper-pagination-bullet{
        display: block;
        border-radius: 50%;
        background-color: #ffffff52;
        width: 15px;
        height: 15px;
        cursor: pointer;
        pointer-events: all;
        transition: background-color .2s ease;
    }

    .newsGallery .swiper-pagination-bullet-active{
        background-color: #ffffffe6;
    }

    .about h1{
        padding-bottom: 20px;
        font-weight: 700;
    }

    .about{
        padding: 40px 20px;
        text-align: right;
        line-height: 30px;
        font-size: clamp(.8rem, 3vw, 1.9rem);
        border-top: 2px #ffffff6f solid;
        border-bottom: 2px #ffffff6f solid;
        background-color: #ffffff0e;
        margin: 60px 0;
    }

    .about a{
        color: #76d6ff;
        text-decoration: none;
    }

    .about *{
        margin: 0;
    }

    .beta{
        font-size: clamp(1rem, 3vw, 2rem);
        line-height: 20px;
    }

    .button{
        padding: 10px 20px;
        color: #fff;
        font-size: clamp(.8rem, 3vw, 1.2rem);
        font-family: 'Cygre';
        border-radius: 10px;
        border: #ffffff5e 2px solid;
        cursor: pointer;
        background: linear-gradient(11deg, rgba(255, 255, 255, 0.212) 0%, rgba(255, 255, 255, 0) 100%);
        transition: scale .2s ease, border .4s ease;
        line-height: 20px;
    }

    .button:hover{
        border: #ffffff91 2px solid;
        scale: 1.03;
        background: linear-gradient(11deg, rgba(255, 255, 255, 0.403) 0%, rgba(255, 255, 255, 0.099) 100%);
    }

    .button:active{
        opacity: .9;
        scale: .97;
    }

    .gameCollection .swiper-slide{
        height: 420px;
    }

    .gameCollection .discInfo{
        display: flex;
        align-items: center;
        height: 100%;
        gap: 40px;
    }

    .gameCollection .swiper-wrapper{
        display: flex;
        width: 100% !important;
        max-width: 1100px !important;
    }

    .gameCollection h1{
        font-size: clamp(.8rem, 3vw, 2.9rem);
        margin: 0;
        line-height: 0;
        font-weight: 100;
    }

    .gameCollection .disc{
        width: 100% !important;
        max-width: 400px;
        aspect-ratio: 1/1;
        border-radius: 50% !important;
    }

    .gameCollection .disc img{
        width: 100%;
    }

    .gameCollection iframe{
        background-color: #000;
        width: 100%;
        aspect-ratio: 560/315;
        border-radius: 15px;
        overflow: hidden;
    }

    .gameCollection .disc .glare-wrapper{
        width: 100% !important;
        max-width: 400px;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 50% !important;
    }

    .gameCollection .gameName{
        font-size: clamp(.8rem, 10vw, 4.9rem);
        margin: 0;
        text-align: center;
        line-height: 100px;
        font-weight: 700;
    }

    footer{
        width: 100%;
        background: linear-gradient(221deg, rgba(255, 255, 255, 0.212) 0%, rgba(255, 255, 255, 0) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 5px 0;
        font-weight: 700;
        height: 70px;
        color: #fff;
        line-height: 0;
        font-size: clamp(.7rem, 5vw, 1.3rem);
        border-radius: 0 0 30px 30px;
        margin-top: 20px;
    }

    footer a{
        margin: 0 10px;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }

    footer a img{
        height: 40px;
    }

    footer a .puskanyaww{
        height: 26px;
    }

    footer a:hover{
        opacity: 0.7;
        text-decoration: underline;
    }

    footer p{
        user-select: none;
        margin-left: 10px;
    }
}