body {
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(12, 12, 12);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow: hidden;
  --main: #e3dfd7;
  --dark: #d5d2cc;
  --darker: #787673;
  --settingsbg: #111111;
  --settingsbghover: #1a1a1a;
  --bg: rgb(12, 12, 12);
}

.theme-black {
  --main: #e3dfd7;
  --dark: #d5d2cc;
  --darker: #787673;
  --settingsbg: #111111;
  --settingsbghover: #1a1a1a;
  --formLine: var(--main);
  --bg: rgb(12, 12, 12);
}

.theme-white {
  --main: #111111;
  --dark: #d1d1d1;
  --darker: #787673;
  --settingsbg: #eae6e0;
  --settingsbghover: #dedbd5;
  --formLine: #787673;
  --bg: #ffffff;
}

*:focus {
  outline: none;
}

*{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.infinite-scroll-component{
  overflow: visible !important;
}